@if (User.Identity.IsAuthenticated)
{
    <ul class="nav navbar-nav">

        <li>
            @Html.ActionLink("Books", "Index", "Books", new { area = "" }, new { @class = "navbar-brand" })
        </li>
        <li>
            @Html.ActionLink("Authors", "Index", "Authors", new { area = "" }, new { @class = "navbar-brand" })
        </li>
    </ul>
}
