@model PANWebApp.Models.BookDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<label>@Model.ISBN</label>
<label>@Model.Cover</label>
<label>@Model.Lent</label>
<label>@Model.Pages</label>

